*{
    background-color: white;
      font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: n;
    font-style: normal;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 100px;
}   

h3 {
    color: black;
    text-align: center;
}
p {
    color: black;
    text-align: center;
}

.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 5px;
}

/*khung Drop */
#drop-area{
    width: 480px;
    height: 300px;
    padding: 20px;
    background-color: #e3fafa;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*hiệu ứng hover */
#drop-area:hover {
    background-color: #d2f2f2;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

/*khung bên trong */
#img-view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #84a2ff;
    background: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#img-view:hover {
    border-color: #6d8cff;
}

/* Icon */
#img-view img{
    width: 100px;
    opacity: 0.9;
    margin-bottom: 10px;
}

/* Text */
#img-view p{
    font-size: 14px;
    color: #444;
    font-weight: 600;
}

#img-view span{
    display: block;
    font-size: 11px;
    color: #777;
    margin-top: 5px;
}

